DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
DISCORD_REDIRECT_URI=http://127.0.0.1:5000/discord/callback
DISCORD_ADMIN_USER_ID=
DISCORD_BOT_TOKEN=
DISCORD_EVENT_CHANNEL_ID=
PSXI_API_TOKEN=
